.form-contact-content {
    width: 100%;
}

.form-contact-content input {
    margin-left: 40px;
    margin-bottom: 10px;
    width: 50%;
    padding: 15px;
    border: none;
    background: none;
    font-size: 1.6rem;
    box-shadow: 2px 2px 10px rgb(153, 153, 153);
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    animation: fadeInText 600ms;
}

.form-contact-content textarea {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
    margin-bottom: 10px;
    width: 50%;
    padding: 15px;
    border: none;
    background: none;
    border-radius: 8px;
    font-size: 1.6rem;
    box-shadow: 2px 2px 10px rgb(153, 153, 153);
    animation: fadeInText 600ms;
}

.form-contact-content input:focus,
.form-contact-content textarea {
    outline: none;
}

.form-contact-content button {
    border: none;
    margin-top: 20px;
    margin-left: 40px;
    padding: 10px 20px 10px 20px;
    box-shadow: 2px 2px 10px rgb(153, 153, 153);
    width: 40%;
    min-width: 300px;
    font-size: 1.6rem;
    cursor: pointer;
    animation: fadeInText 600ms;
    border-radius: 8px;
    transition: 250ms;
}

.form-contact-content button:hover {
    width: 42%;
}

.form-contact-content .title {
    margin-bottom: 50px;
}


@media screen and (max-width: 650px) {
    .form-contact-content {
        text-align: center;
    }

    .form-contact-content input,
    .form-contact-content textarea {
        width: 80%;
        margin-left: 0px;
    }

    .form-contact-content button {
        margin-left: 0px;
    }
}