.App {
    position: absolute;
    width: 80%;
    max-width: 1450px;
    height: 80vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

/*querys*/
@media screen and (max-width: 650px) {
    .App {
        width: 100%;
        flex-direction: column;
        align-items: center;
        height: 130vh;
    }
}