.App{
    position: absolute;
    width: 80%;
    max-width: 1450px;
    height: 80vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}