
*{
  margin: 0px;
  padding: 0px;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: 'Bebas Neue', sans-serif;
}

body{
  overflow: hidden;
  background-image: url(./pages/assets/banner-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.container{
  width: 100%;
  height: 100vh;
}


/*animations*/

@keyframes transitionPageLeft {
  0%{
    margin-left: 100%;
  }
  50%{
    margin-left: -50%;
  }
  100%{
    margin-left: 0%;
  }
}

@keyframes transitionPageTop{
  0%{
    margin-bottom: 100%;
  }
  100%{
    margin-bottom: 0%;
  }
}

@keyframes FadeInOpacity{
  0%{
    opacity: 0;
    padding-top: 0px;
  }
  100%{
    opacity: 1;
    padding-top: 30px;
  }
}

/*querys*/

@media screen and (max-width: 1100px) {
  body{
      background-size: 150%;
  }
}

@media screen and (max-width: 800px){
  body{
      background-size: 250%;
  }
}

@media screen and (max-width: 500px){
  body{
    background-image: url(../src/pages/assets/banner-mobile.jpg);
    background-size: 140%;
  }
}