* {
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 62.5%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: url(./assets/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

.content {
    width: 100%;
    height: 75%;
    background-color: rgb(240, 240, 240);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-top: 30px solid rgb(240, 240, 240);
    position: relative;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.4rem;
}

.loading {
    width: 200px;
    margin-left: 40px;
    padding: 8px;
    padding-left: 12px;
    background-color: rgb(60, 234, 144);
    margin-bottom: 10px;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 8px;
}

.error-message {
    width: 200px;
    margin-left: 40px;
    padding: 8px;
    padding-left: 12px;
    background-color: rgb(234, 83, 60);
    margin-bottom: 10px;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 8px;
}

/*animations text*/
@keyframes fadeInTitle {
    0% {
        padding-left: 0px;
    }

    100% {
        padding-left: 40px;
    }
}

@keyframes fadeInText {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: 40px;
    }
}

/*querys*/
@media screen and (max-width: 650px) {
    .container {
        height: 60%;
    }
}